workspace/graphX/activation-1.1.1.jar
workspace/graphX/aircompressor-0.10.jar
workspace/graphX/algebra_2.12-2.0.0-M2.jar
workspace/graphX/antlr4-runtime-4.7.1.jar
workspace/graphX/antlr-runtime-3.5.2.jar
workspace/graphX/aopalliance-1.0.jar
workspace/graphX/aopalliance-repackaged-2.6.1.jar
workspace/graphX/apacheds-i18n-2.0.0-M15.jar
workspace/graphX/apacheds-kerberos-codec-2.0.0-M15.jar
workspace/graphX/api-asn1-api-1.0.0-M20.jar
workspace/graphX/api-util-1.0.0-M20.jar
workspace/graphX/arpack_combined_all-0.1.jar
workspace/graphX/arrow-format-0.15.1.jar
workspace/graphX/arrow-memory-0.15.1.jar
workspace/graphX/arrow-vector-0.15.1.jar
workspace/graphX/audience-annotations-0.5.0.jar
workspace/graphX/automaton-1.11-8.jar
workspace/graphX/avro-1.8.2.jar
workspace/graphX/avro-ipc-1.8.2.jar
workspace/graphX/avro-mapred-1.8.2-hadoop2.jar
workspace/graphX/bonecp-0.8.0.RELEASE.jar
workspace/graphX/breeze_2.12-1.0.jar
workspace/graphX/breeze-macros_2.12-1.0.jar
workspace/graphX/cats-kernel_2.12-2.0.0-M4.jar
workspace/graphX/chill_2.12-0.9.5.jar
workspace/graphX/chill-java-0.9.5.jar
workspace/graphX/collection-0.7.jar
workspace/graphX/commons-beanutils-1.9.4.jar
workspace/graphX/commons-cli-1.2.jar
workspace/graphX/commons-cli-1.4.jar
workspace/graphX/commons-codec-1.10.jar
workspace/graphX/commons-codec-1.15.jar
workspace/graphX/commons-collections-3.2.2.jar
workspace/graphX/commons-compiler-3.0.16.jar
workspace/graphX/commons-compress-1.20.jar
workspace/graphX/commons-configuration-1.6.jar
workspace/graphX/commons-crypto-1.1.0.jar
workspace/graphX/commons-csv-1.8.jar
workspace/graphX/commons-dbcp-1.4.jar
workspace/graphX/commons-digester-1.8.jar
workspace/graphX/commons-httpclient-3.1.jar
workspace/graphX/commons-io-2.4.jar
workspace/graphX/commons-io-2.8.0.jar
workspace/graphX/commons-lang-2.6.jar
workspace/graphX/commons-lang3-3.11.jar
workspace/graphX/commons-lang3-3.9.jar
workspace/graphX/commons-logging-1.1.3.jar
workspace/graphX/commons-math3-3.4.1.jar
workspace/graphX/commons-net-3.1.jar
workspace/graphX/commons-pool-1.5.4.jar
workspace/graphX/commons-text-1.6.jar
workspace/graphX/compress-lzf-1.0.3.jar
workspace/graphX/core-1.1.2.jar
workspace/graphX/curator-client-2.7.1.jar
workspace/graphX/curator-framework-2.7.1.jar
workspace/graphX/curator-recipes-2.7.1.jar
workspace/graphX/datanucleus-api-jdo-4.2.4.jar
workspace/graphX/datanucleus-core-4.1.17.jar
workspace/graphX/datanucleus-rdbms-4.1.19.jar
workspace/graphX/derby-10.12.1.1.jar
workspace/graphX/dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar
workspace/graphX/flatbuffers-java-1.9.0.jar
workspace/graphX/generex-1.0.2.jar
workspace/graphX/graphframes-0.8.1-spark2.4-s_2.12.jar
workspace/graphX/gson-2.2.4.jar
workspace/graphX/guava-14.0.1.jar
workspace/graphX/guice-3.0.jar
workspace/graphX/guice-servlet-3.0.jar
workspace/graphX/hadoop-annotations-2.7.4.jar
workspace/graphX/hadoop-auth-2.7.4.jar
workspace/graphX/hadoop-client-2.7.4.jar
workspace/graphX/hadoop-common-2.7.4.jar
workspace/graphX/hadoop-hdfs-2.7.4.jar
workspace/graphX/hadoop-mapreduce-client-app-2.7.4.jar
workspace/graphX/hadoop-mapreduce-client-common-2.7.4.jar
workspace/graphX/hadoop-mapreduce-client-core-2.7.4.jar
workspace/graphX/hadoop-mapreduce-client-jobclient-2.7.4.jar
workspace/graphX/hadoop-mapreduce-client-shuffle-2.7.4.jar
workspace/graphX/hadoop-yarn-api-2.7.4.jar
workspace/graphX/hadoop-yarn-client-2.7.4.jar
workspace/graphX/hadoop-yarn-common-2.7.4.jar
workspace/graphX/hadoop-yarn-server-common-2.7.4.jar
workspace/graphX/hadoop-yarn-server-web-proxy-2.7.4.jar
workspace/graphX/HikariCP-2.5.1.jar
workspace/graphX/hive-beeline-2.3.7.jar
workspace/graphX/hive-cli-2.3.7.jar
workspace/graphX/hive-common-2.3.7.jar
workspace/graphX/hive-exec-2.3.7-core.jar
workspace/graphX/hive-jdbc-2.3.7.jar
workspace/graphX/hive-llap-common-2.3.7.jar
workspace/graphX/hive-metastore-2.3.7.jar
workspace/graphX/hive-serde-2.3.7.jar
workspace/graphX/hive-shims-0.23-2.3.7.jar
workspace/graphX/hive-shims-2.3.7.jar
workspace/graphX/hive-shims-common-2.3.7.jar
workspace/graphX/hive-shims-scheduler-2.3.7.jar
workspace/graphX/hive-storage-api-2.7.1.jar
workspace/graphX/hive-vector-code-gen-2.3.7.jar
workspace/graphX/hk2-api-2.6.1.jar
workspace/graphX/hk2-locator-2.6.1.jar
workspace/graphX/hk2-utils-2.6.1.jar
workspace/graphX/htrace-core-3.1.0-incubating.jar
workspace/graphX/httpclient-4.5.13.jar
workspace/graphX/httpclient-4.5.6.jar
workspace/graphX/httpclient-cache-4.5.13.jar
workspace/graphX/httpcore-4.4.12.jar
workspace/graphX/httpcore-4.4.13.jar
workspace/graphX/istack-commons-runtime-3.0.8.jar
workspace/graphX/ivy-2.4.0.jar
workspace/graphX/jackson-annotations-2.10.0.jar
workspace/graphX/jackson-annotations-2.11.3.jar
workspace/graphX/jackson-core-2.10.0.jar
workspace/graphX/jackson-core-2.11.3.jar
workspace/graphX/jackson-core-asl-1.9.13.jar
workspace/graphX/jackson-databind-2.10.0.jar
workspace/graphX/jackson-dataformat-yaml-2.10.0.jar
workspace/graphX/jackson-datatype-jsr310-2.10.3.jar
workspace/graphX/jackson-jaxrs-1.9.13.jar
workspace/graphX/jackson-mapper-asl-1.9.13.jar
workspace/graphX/jackson-module-jaxb-annotations-2.10.0.jar
workspace/graphX/jackson-module-paranamer-2.10.0.jar
workspace/graphX/jackson-module-scala_2.12-2.10.0.jar
workspace/graphX/jackson-xc-1.9.13.jar
workspace/graphX/jakarta.activation-api-1.2.1.jar
workspace/graphX/jakarta.annotation-api-1.3.5.jar
workspace/graphX/jakarta.inject-2.6.1.jar
workspace/graphX/jakarta.validation-api-2.0.2.jar
workspace/graphX/jakarta.ws.rs-api-2.1.6.jar
workspace/graphX/jakarta.xml.bind-api-2.3.2.jar
workspace/graphX/janino-3.0.16.jar
workspace/graphX/javassist-3.25.0-GA.jar
workspace/graphX/javax.annotation-api-1.3.2.jar
workspace/graphX/javax.inject-1.jar
workspace/graphX/javax.jdo-3.2.0-m3.jar
workspace/graphX/javax.servlet-api-3.1.0.jar
workspace/graphX/javolution-5.5.1.jar
workspace/graphX/jaxb-api-2.2.2.jar
workspace/graphX/jaxb-runtime-2.3.2.jar
workspace/graphX/jcl-over-slf4j-1.7.30.jar
workspace/graphX/jdo-api-3.0.1.jar
workspace/graphX/jena-arq-3.17.0.jar
workspace/graphX/jena-base-3.17.0.jar
workspace/graphX/jena-core-3.17.0.jar
workspace/graphX/jena-iri-3.17.0.jar
workspace/graphX/jena-shaded-guava-3.17.0.jar
workspace/graphX/jersey-client-2.30.jar
workspace/graphX/jersey-common-2.30.jar
workspace/graphX/jersey-container-servlet-2.30.jar
workspace/graphX/jersey-container-servlet-core-2.30.jar
workspace/graphX/jersey-hk2-2.30.jar
workspace/graphX/jersey-media-jaxb-2.30.jar
workspace/graphX/jersey-server-2.30.jar
workspace/graphX/jetty-6.1.26.jar
workspace/graphX/jetty-sslengine-6.1.26.jar
workspace/graphX/jetty-util-6.1.26.jar
workspace/graphX/JLargeArrays-1.5.jar
workspace/graphX/jline-2.14.6.jar
workspace/graphX/joda-time-2.10.5.jar
workspace/graphX/jodd-core-3.5.2.jar
workspace/graphX/jpam-1.1.jar
workspace/graphX/json-1.8.jar
workspace/graphX/json4s-ast_2.12-3.6.6.jar
workspace/graphX/json4s-core_2.12-3.6.6.jar
workspace/graphX/json4s-jackson_2.12-3.6.6.jar
workspace/graphX/json4s-scalap_2.12-3.6.6.jar
workspace/graphX/jsonld-java-0.13.2.jar
workspace/graphX/jsp-api-2.1.jar
workspace/graphX/jsr305-3.0.0.jar
workspace/graphX/jta-1.1.jar
workspace/graphX/JTransforms-3.1.jar
workspace/graphX/jul-to-slf4j-1.7.30.jar
workspace/graphX/kryo-shaded-4.0.2.jar
workspace/graphX/kubernetes-client-4.9.2.jar
workspace/graphX/kubernetes-model-4.9.2.jar
workspace/graphX/kubernetes-model-common-4.9.2.jar
workspace/graphX/leveldbjni-all-1.8.jar
workspace/graphX/libfb303-0.9.3.jar
workspace/graphX/libthrift-0.12.0.jar
workspace/graphX/libthrift-0.13.0.jar
workspace/graphX/log4j-1.2.17.jar
workspace/graphX/logging-interceptor-3.12.6.jar
workspace/graphX/lz4-java-1.7.1.jar
workspace/graphX/machinist_2.12-0.6.8.jar
workspace/graphX/macro-compat_2.12-1.1.1.jar
workspace/graphX/mesos-1.4.0-shaded-protobuf.jar
workspace/graphX/metrics-core-4.1.1.jar
workspace/graphX/metrics-graphite-4.1.1.jar
workspace/graphX/metrics-jmx-4.1.1.jar
workspace/graphX/metrics-json-4.1.1.jar
workspace/graphX/metrics-jvm-4.1.1.jar
workspace/graphX/minlog-1.3.0.jar
workspace/graphX/netty-all-4.1.47.Final.jar
workspace/graphX/objenesis-2.5.1.jar
workspace/graphX/okhttp-3.12.6.jar
workspace/graphX/okio-1.15.0.jar
workspace/graphX/opencsv-2.3.jar
workspace/graphX/orc-core-1.5.10.jar
workspace/graphX/orc-mapreduce-1.5.10.jar
workspace/graphX/orc-shims-1.5.10.jar
workspace/graphX/oro-2.0.8.jar
workspace/graphX/osgi-resource-locator-1.0.3.jar
workspace/graphX/paranamer-2.8.jar
workspace/graphX/parquet-column-1.10.1.jar
workspace/graphX/parquet-common-1.10.1.jar
workspace/graphX/parquet-encoding-1.10.1.jar
workspace/graphX/parquet-format-2.4.0.jar
workspace/graphX/parquet-hadoop-1.10.1.jar
workspace/graphX/parquet-jackson-1.10.1.jar
workspace/graphX/protobuf-java-2.5.0.jar
workspace/graphX/py4j-0.10.9.jar
workspace/graphX/pyrolite-4.30.jar
workspace/graphX/RoaringBitmap-0.7.45.jar
workspace/graphX/scala-collection-compat_2.12-2.1.1.jar
workspace/graphX/scala-compiler-2.12.10.jar
workspace/graphX/scala-library-2.12.10.jar
workspace/graphX/scala-parser-combinators_2.12-1.1.2.jar
workspace/graphX/scala-reflect-2.12.10.jar
workspace/graphX/scala-xml_2.12-1.2.0.jar
workspace/graphX/shapeless_2.12-2.3.3.jar
workspace/graphX/shims-0.7.45.jar
workspace/graphX/slf4j-api-1.7.25.jar
workspace/graphX/slf4j-api-1.7.30.jar
workspace/graphX/slf4j-log4j12-1.7.30.jar
workspace/graphX/snakeyaml-1.24.jar
workspace/graphX/snappy-java-1.1.8.2.jar
workspace/graphX/spark-catalyst_2.12-3.0.2.jar
workspace/graphX/spark-core_2.12-3.0.2.jar
workspace/graphX/spark-graphx_2.12-3.0.2.jar
workspace/graphX/spark-hive_2.12-3.0.2.jar
workspace/graphX/spark-hive-thriftserver_2.12-3.0.2.jar
workspace/graphX/spark-indexedrdd-0.3.jar
workspace/graphX/spark-kubernetes_2.12-3.0.2.jar
workspace/graphX/spark-kvstore_2.12-3.0.2.jar
workspace/graphX/spark-launcher_2.12-3.0.2.jar
workspace/graphX/spark-measure_2.12-0.17.jar
workspace/graphX/spark-mesos_2.12-3.0.2.jar
workspace/graphX/spark-mllib_2.12-3.0.2.jar
workspace/graphX/spark-mllib-local_2.12-3.0.2.jar
workspace/graphX/spark-network-common_2.12-3.0.2.jar
workspace/graphX/spark-network-shuffle_2.12-3.0.2.jar
workspace/graphX/spark-repl_2.12-3.0.2.jar
workspace/graphX/spark-sketch_2.12-3.0.2.jar
workspace/graphX/spark-sql_2.12-3.0.2.jar
workspace/graphX/spark-streaming_2.12-3.0.2.jar
workspace/graphX/spark-tags_2.12-3.0.2.jar
workspace/graphX/spark-tags_2.12-3.0.2-tests.jar
workspace/graphX/spark-unsafe_2.12-3.0.2.jar
workspace/graphX/spark-yarn_2.12-3.0.2.jar
workspace/graphX/spire_2.12-0.17.0-M1.jar
workspace/graphX/spire-macros_2.12-0.17.0-M1.jar
workspace/graphX/spire-platform_2.12-0.17.0-M1.jar
workspace/graphX/spire-util_2.12-0.17.0-M1.jar
workspace/graphX/ST4-4.0.4.jar
workspace/graphX/stax-api-1.0.1.jar
workspace/graphX/stax-api-1.0-2.jar
workspace/graphX/stream-2.9.6.jar
workspace/graphX/super-csv-2.2.0.jar
workspace/graphX/threeten-extra-1.5.0.jar
workspace/graphX/transaction-api-1.1.jar
workspace/graphX/univocity-parsers-2.9.0.jar
workspace/graphX/velocity-1.5.jar
workspace/graphX/xbean-asm7-shaded-4.15.jar
workspace/graphX/xercesImpl-2.12.0.jar
workspace/graphX/xml-apis-1.4.01.jar
workspace/graphX/xmlenc-0.52.jar
workspace/graphX/xz-1.5.jar
workspace/graphX/zjsonpatch-0.3.0.jar
workspace/graphX/zookeeper-3.4.14.jar
workspace/graphX/zstd-jni-1.4.4-3.jar
workspace/graphX/bin/graphX/GraphGenerator2.class
workspace/graphX/bin/graphX/Literal.class
workspace/graphX/bin/graphX/NQuadReader2.class
workspace/graphX/bin/graphX/Vertex.class
workspace/TrigNQConverter/.classpath
workspace/TrigNQConverter/.gitignore
workspace/TrigNQConverter/.project
workspace/TrigNQConverter/activation-1.1.1.jar
workspace/TrigNQConverter/aircompressor-0.10.jar
workspace/TrigNQConverter/algebra_2.12-2.0.0-M2.jar
workspace/TrigNQConverter/antlr4-runtime-4.7.1.jar
workspace/TrigNQConverter/antlr-runtime-3.5.2.jar
workspace/TrigNQConverter/aopalliance-1.0.jar
workspace/TrigNQConverter/aopalliance-repackaged-2.6.1.jar
workspace/TrigNQConverter/apacheds-i18n-2.0.0-M15.jar
workspace/TrigNQConverter/apacheds-kerberos-codec-2.0.0-M15.jar
workspace/TrigNQConverter/api-asn1-api-1.0.0-M20.jar
workspace/TrigNQConverter/api-util-1.0.0-M20.jar
workspace/TrigNQConverter/arpack_combined_all-0.1.jar
workspace/TrigNQConverter/arrow-format-0.15.1.jar
workspace/TrigNQConverter/arrow-memory-0.15.1.jar
workspace/TrigNQConverter/arrow-vector-0.15.1.jar
workspace/TrigNQConverter/audience-annotations-0.5.0.jar
workspace/TrigNQConverter/automaton-1.11-8.jar
workspace/TrigNQConverter/avro-1.8.2.jar
workspace/TrigNQConverter/avro-ipc-1.8.2.jar
workspace/TrigNQConverter/avro-mapred-1.8.2-hadoop2.jar
workspace/TrigNQConverter/bonecp-0.8.0.RELEASE.jar
workspace/TrigNQConverter/breeze_2.12-1.0.jar
workspace/TrigNQConverter/breeze-macros_2.12-1.0.jar
workspace/TrigNQConverter/cats-kernel_2.12-2.0.0-M4.jar
workspace/TrigNQConverter/chill_2.12-0.9.5.jar
workspace/TrigNQConverter/chill-java-0.9.5.jar
workspace/TrigNQConverter/collection-0.7.jar
workspace/TrigNQConverter/commons-beanutils-1.9.4.jar
workspace/TrigNQConverter/commons-cli-1.2.jar
workspace/TrigNQConverter/commons-cli-1.4.jar
workspace/TrigNQConverter/commons-codec-1.10.jar
workspace/TrigNQConverter/commons-codec-1.15.jar
workspace/TrigNQConverter/commons-collections-3.2.2.jar
workspace/TrigNQConverter/commons-compiler-3.0.16.jar
workspace/TrigNQConverter/commons-compress-1.20.jar
workspace/TrigNQConverter/commons-configuration-1.6.jar
workspace/TrigNQConverter/commons-crypto-1.1.0.jar
workspace/TrigNQConverter/commons-csv-1.8.jar
workspace/TrigNQConverter/commons-dbcp-1.4.jar
workspace/TrigNQConverter/commons-digester-1.8.jar
workspace/TrigNQConverter/commons-httpclient-3.1.jar
workspace/TrigNQConverter/commons-io-2.4.jar
workspace/TrigNQConverter/commons-io-2.8.0.jar
workspace/TrigNQConverter/commons-lang-2.6.jar
workspace/TrigNQConverter/commons-lang3-3.11.jar
workspace/TrigNQConverter/commons-lang3-3.9.jar
workspace/TrigNQConverter/commons-logging-1.1.3.jar
workspace/TrigNQConverter/commons-math3-3.4.1.jar
workspace/TrigNQConverter/commons-net-3.1.jar
workspace/TrigNQConverter/commons-pool-1.5.4.jar
workspace/TrigNQConverter/commons-text-1.6.jar
workspace/TrigNQConverter/compress-lzf-1.0.3.jar
workspace/TrigNQConverter/core-1.1.2.jar
workspace/TrigNQConverter/curator-client-2.7.1.jar
workspace/TrigNQConverter/curator-framework-2.7.1.jar
workspace/TrigNQConverter/curator-recipes-2.7.1.jar
workspace/TrigNQConverter/datanucleus-api-jdo-4.2.4.jar
workspace/TrigNQConverter/datanucleus-core-4.1.17.jar
workspace/TrigNQConverter/datanucleus-rdbms-4.1.19.jar
workspace/TrigNQConverter/derby-10.12.1.1.jar
workspace/TrigNQConverter/dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar
workspace/TrigNQConverter/flatbuffers-java-1.9.0.jar
workspace/TrigNQConverter/generex-1.0.2.jar
workspace/TrigNQConverter/graphframes-0.8.1-spark2.4-s_2.12.jar
workspace/TrigNQConverter/gson-2.2.4.jar
workspace/TrigNQConverter/guava-14.0.1.jar
workspace/TrigNQConverter/guice-3.0.jar
workspace/TrigNQConverter/guice-servlet-3.0.jar
workspace/TrigNQConverter/hadoop-annotations-2.7.4.jar
workspace/TrigNQConverter/hadoop-auth-2.7.4.jar
workspace/TrigNQConverter/hadoop-client-2.7.4.jar
workspace/TrigNQConverter/hadoop-common-2.7.4.jar
workspace/TrigNQConverter/hadoop-hdfs-2.7.4.jar
workspace/TrigNQConverter/hadoop-mapreduce-client-app-2.7.4.jar
workspace/TrigNQConverter/hadoop-mapreduce-client-common-2.7.4.jar
workspace/TrigNQConverter/hadoop-mapreduce-client-core-2.7.4.jar
workspace/TrigNQConverter/hadoop-mapreduce-client-jobclient-2.7.4.jar
workspace/TrigNQConverter/hadoop-mapreduce-client-shuffle-2.7.4.jar
workspace/TrigNQConverter/hadoop-yarn-api-2.7.4.jar
workspace/TrigNQConverter/hadoop-yarn-client-2.7.4.jar
workspace/TrigNQConverter/hadoop-yarn-common-2.7.4.jar
workspace/TrigNQConverter/hadoop-yarn-server-common-2.7.4.jar
workspace/TrigNQConverter/hadoop-yarn-server-web-proxy-2.7.4.jar
workspace/TrigNQConverter/HikariCP-2.5.1.jar
workspace/TrigNQConverter/hive-beeline-2.3.7.jar
workspace/TrigNQConverter/hive-cli-2.3.7.jar
workspace/TrigNQConverter/hive-common-2.3.7.jar
workspace/TrigNQConverter/hive-exec-2.3.7-core.jar
workspace/TrigNQConverter/hive-jdbc-2.3.7.jar
workspace/TrigNQConverter/hive-llap-common-2.3.7.jar
workspace/TrigNQConverter/hive-metastore-2.3.7.jar
workspace/TrigNQConverter/hive-serde-2.3.7.jar
workspace/TrigNQConverter/hive-shims-0.23-2.3.7.jar
workspace/TrigNQConverter/hive-shims-2.3.7.jar
workspace/TrigNQConverter/hive-shims-common-2.3.7.jar
workspace/TrigNQConverter/hive-shims-scheduler-2.3.7.jar
workspace/TrigNQConverter/hive-storage-api-2.7.1.jar
workspace/TrigNQConverter/hive-vector-code-gen-2.3.7.jar
workspace/TrigNQConverter/hk2-api-2.6.1.jar
workspace/TrigNQConverter/hk2-locator-2.6.1.jar
workspace/TrigNQConverter/hk2-utils-2.6.1.jar
workspace/TrigNQConverter/htrace-core-3.1.0-incubating.jar
workspace/TrigNQConverter/httpclient-4.5.13.jar
workspace/TrigNQConverter/httpclient-4.5.6.jar
workspace/TrigNQConverter/httpclient-cache-4.5.13.jar
workspace/TrigNQConverter/httpcore-4.4.12.jar
workspace/TrigNQConverter/httpcore-4.4.13.jar
workspace/TrigNQConverter/istack-commons-runtime-3.0.8.jar
workspace/TrigNQConverter/ivy-2.4.0.jar
workspace/TrigNQConverter/jackson-annotations-2.10.0.jar
workspace/TrigNQConverter/jackson-annotations-2.11.3.jar
workspace/TrigNQConverter/jackson-core-2.10.0.jar
workspace/TrigNQConverter/jackson-core-2.11.3.jar
workspace/TrigNQConverter/jackson-core-asl-1.9.13.jar
workspace/TrigNQConverter/jackson-databind-2.10.0.jar
workspace/TrigNQConverter/jackson-databind-2.11.3.jar
workspace/TrigNQConverter/jackson-dataformat-yaml-2.10.0.jar
workspace/TrigNQConverter/jackson-datatype-jsr310-2.10.3.jar
workspace/TrigNQConverter/jackson-jaxrs-1.9.13.jar
workspace/TrigNQConverter/jackson-mapper-asl-1.9.13.jar
workspace/TrigNQConverter/jackson-module-jaxb-annotations-2.10.0.jar
workspace/TrigNQConverter/jackson-module-paranamer-2.10.0.jar
workspace/TrigNQConverter/jackson-module-scala_2.12-2.10.0.jar
workspace/TrigNQConverter/jackson-xc-1.9.13.jar
workspace/TrigNQConverter/jakarta.activation-api-1.2.1.jar
workspace/TrigNQConverter/jakarta.annotation-api-1.3.5.jar
workspace/TrigNQConverter/jakarta.inject-2.6.1.jar
workspace/TrigNQConverter/jakarta.validation-api-2.0.2.jar
workspace/TrigNQConverter/jakarta.ws.rs-api-2.1.6.jar
workspace/TrigNQConverter/jakarta.xml.bind-api-2.3.2.jar
workspace/TrigNQConverter/janino-3.0.16.jar
workspace/TrigNQConverter/javassist-3.25.0-GA.jar
workspace/TrigNQConverter/javax.annotation-api-1.3.2.jar
workspace/TrigNQConverter/javax.inject-1.jar
workspace/TrigNQConverter/javax.jdo-3.2.0-m3.jar
workspace/TrigNQConverter/javax.servlet-api-3.1.0.jar
workspace/TrigNQConverter/javolution-5.5.1.jar
workspace/TrigNQConverter/jaxb-api-2.2.2.jar
workspace/TrigNQConverter/jaxb-runtime-2.3.2.jar
workspace/TrigNQConverter/jcl-over-slf4j-1.7.30.jar
workspace/TrigNQConverter/jdo-api-3.0.1.jar
workspace/TrigNQConverter/jena-arq-3.17.0.jar
workspace/TrigNQConverter/jena-base-3.17.0.jar
workspace/TrigNQConverter/jena-core-3.17.0.jar
workspace/TrigNQConverter/jena-iri-3.17.0.jar
workspace/TrigNQConverter/jena-shaded-guava-3.17.0.jar
workspace/TrigNQConverter/jersey-client-2.30.jar
workspace/TrigNQConverter/jersey-common-2.30.jar
workspace/TrigNQConverter/jersey-container-servlet-2.30.jar
workspace/TrigNQConverter/jersey-container-servlet-core-2.30.jar
workspace/TrigNQConverter/jersey-hk2-2.30.jar
workspace/TrigNQConverter/jersey-media-jaxb-2.30.jar
workspace/TrigNQConverter/jersey-server-2.30.jar
workspace/TrigNQConverter/jetty-6.1.26.jar
workspace/TrigNQConverter/jetty-sslengine-6.1.26.jar
workspace/TrigNQConverter/jetty-util-6.1.26.jar
workspace/TrigNQConverter/JLargeArrays-1.5.jar
workspace/TrigNQConverter/jline-2.14.6.jar
workspace/TrigNQConverter/joda-time-2.10.5.jar
workspace/TrigNQConverter/jodd-core-3.5.2.jar
workspace/TrigNQConverter/jpam-1.1.jar
workspace/TrigNQConverter/json-1.8.jar
workspace/TrigNQConverter/json4s-ast_2.12-3.6.6.jar
workspace/TrigNQConverter/json4s-core_2.12-3.6.6.jar
workspace/TrigNQConverter/json4s-jackson_2.12-3.6.6.jar
workspace/TrigNQConverter/json4s-scalap_2.12-3.6.6.jar
workspace/TrigNQConverter/jsonld-java-0.13.2.jar
workspace/TrigNQConverter/jsp-api-2.1.jar
workspace/TrigNQConverter/jsr305-3.0.0.jar
workspace/TrigNQConverter/jta-1.1.jar
workspace/TrigNQConverter/JTransforms-3.1.jar
workspace/TrigNQConverter/jul-to-slf4j-1.7.30.jar
workspace/TrigNQConverter/kryo-shaded-4.0.2.jar
workspace/TrigNQConverter/kubernetes-client-4.9.2.jar
workspace/TrigNQConverter/kubernetes-model-4.9.2.jar
workspace/TrigNQConverter/kubernetes-model-common-4.9.2.jar
workspace/TrigNQConverter/leveldbjni-all-1.8.jar
workspace/TrigNQConverter/libfb303-0.9.3.jar
workspace/TrigNQConverter/libthrift-0.12.0.jar
workspace/TrigNQConverter/libthrift-0.13.0.jar
workspace/TrigNQConverter/log4j-1.2.17.jar
workspace/TrigNQConverter/logging-interceptor-3.12.6.jar
workspace/TrigNQConverter/lz4-java-1.7.1.jar
workspace/TrigNQConverter/machinist_2.12-0.6.8.jar
workspace/TrigNQConverter/macro-compat_2.12-1.1.1.jar
workspace/TrigNQConverter/mesos-1.4.0-shaded-protobuf.jar
workspace/TrigNQConverter/metrics-core-4.1.1.jar
workspace/TrigNQConverter/metrics-graphite-4.1.1.jar
workspace/TrigNQConverter/metrics-jmx-4.1.1.jar
workspace/TrigNQConverter/metrics-json-4.1.1.jar
workspace/TrigNQConverter/metrics-jvm-4.1.1.jar
workspace/TrigNQConverter/minlog-1.3.0.jar
workspace/TrigNQConverter/netty-all-4.1.47.Final.jar
workspace/TrigNQConverter/objenesis-2.5.1.jar
workspace/TrigNQConverter/okhttp-3.12.6.jar
workspace/TrigNQConverter/okio-1.15.0.jar
workspace/TrigNQConverter/opencsv-2.3.jar
workspace/TrigNQConverter/orc-core-1.5.10.jar
workspace/TrigNQConverter/orc-mapreduce-1.5.10.jar
workspace/TrigNQConverter/orc-shims-1.5.10.jar
workspace/TrigNQConverter/oro-2.0.8.jar
workspace/TrigNQConverter/osgi-resource-locator-1.0.3.jar
workspace/TrigNQConverter/paranamer-2.8.jar
workspace/TrigNQConverter/parquet-column-1.10.1.jar
workspace/TrigNQConverter/parquet-common-1.10.1.jar
workspace/TrigNQConverter/parquet-encoding-1.10.1.jar
workspace/TrigNQConverter/parquet-format-2.4.0.jar
workspace/TrigNQConverter/parquet-hadoop-1.10.1.jar
workspace/TrigNQConverter/parquet-jackson-1.10.1.jar
workspace/TrigNQConverter/protobuf-java-2.5.0.jar
workspace/TrigNQConverter/py4j-0.10.9.jar
workspace/TrigNQConverter/pyrolite-4.30.jar
workspace/TrigNQConverter/rdf2rdf-1.0.1-2.3.1.jar
workspace/TrigNQConverter/RoaringBitmap-0.7.45.jar
workspace/TrigNQConverter/scala-collection-compat_2.12-2.1.1.jar
workspace/TrigNQConverter/scala-compiler-2.12.10.jar
workspace/TrigNQConverter/scala-library-2.12.10.jar
workspace/TrigNQConverter/scala-parser-combinators_2.12-1.1.2.jar
workspace/TrigNQConverter/scala-reflect-2.12.10.jar
workspace/TrigNQConverter/scala-xml_2.12-1.2.0.jar
workspace/TrigNQConverter/shapeless_2.12-2.3.3.jar
workspace/TrigNQConverter/shims-0.7.45.jar
workspace/TrigNQConverter/slf4j-api-1.7.25.jar
workspace/TrigNQConverter/slf4j-api-1.7.30.jar
workspace/TrigNQConverter/slf4j-log4j12-1.7.30.jar
workspace/TrigNQConverter/snakeyaml-1.24.jar
workspace/TrigNQConverter/snappy-java-1.1.8.2.jar
workspace/TrigNQConverter/spark-catalyst_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-core_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-graphx_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-hive_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-hive-thriftserver_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-indexedrdd-0.3.jar
workspace/TrigNQConverter/spark-kubernetes_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-kvstore_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-launcher_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-mesos_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-mllib_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-mllib-local_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-network-common_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-network-shuffle_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-repl_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-sketch_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-sql_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-streaming_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-tags_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-tags_2.12-3.0.2-tests.jar
workspace/TrigNQConverter/spark-unsafe_2.12-3.0.2.jar
workspace/TrigNQConverter/spark-yarn_2.12-3.0.2.jar
workspace/TrigNQConverter/spire_2.12-0.17.0-M1.jar
workspace/TrigNQConverter/spire-macros_2.12-0.17.0-M1.jar
workspace/TrigNQConverter/spire-platform_2.12-0.17.0-M1.jar
workspace/TrigNQConverter/spire-util_2.12-0.17.0-M1.jar
workspace/TrigNQConverter/ST4-4.0.4.jar
workspace/TrigNQConverter/stax-api-1.0.1.jar
workspace/TrigNQConverter/stax-api-1.0-2.jar
workspace/TrigNQConverter/stream-2.9.6.jar
workspace/TrigNQConverter/super-csv-2.2.0.jar
workspace/TrigNQConverter/threeten-extra-1.5.0.jar
workspace/TrigNQConverter/transaction-api-1.1.jar
workspace/TrigNQConverter/univocity-parsers-2.9.0.jar
workspace/TrigNQConverter/velocity-1.5.jar
workspace/TrigNQConverter/xbean-asm7-shaded-4.15.jar
workspace/TrigNQConverter/xercesImpl-2.12.0.jar
workspace/TrigNQConverter/xml-apis-1.4.01.jar
workspace/TrigNQConverter/xmlenc-0.52.jar
workspace/TrigNQConverter/xz-1.5.jar
workspace/TrigNQConverter/zjsonpatch-0.3.0.jar
workspace/TrigNQConverter/zookeeper-3.4.14.jar
workspace/TrigNQConverter/zstd-jni-1.4.4-3.jar
